$black-col : #0b0b0b;
$orange-col : #fec311;
$gray-col : #58595b;
$blue-col : #25a0ce;
$width: 30;
.col-1 { width: $width+px; }
@for $i from 2 through 24 {
  $width: $width + 40;
  .col-#{$i} {
    width: $width+px;
  }
}
[class *="col-"] {
  margin-left: 5px;
  margin-right: 5px;
}
// placeholder change color
@mixin placeholder-cc ($color) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}
//by default all inputs are of this placeholder color
@include placeholder-cc (rgba($black-col, 0.3));
@function nu-border($width) {
  @return $width solid rgba($black-col, 0.2);
}
a {
  color: $blue-col !important;
}
.remove-shadow {
  box-shadow: none !important;
}
.btn {
  border: nu-border(1px);
  border-radius: 3px;
  width: 80px;
  height: 30px;
  padding: 0;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  text-transform: none;
  line-height: 0;
}
.mandatory-field:after {
    color: red;
    font-size: 14px;
    content: '*';
}
.nu-input {
  width: 100% !important;
  font-size: 14px;
  height: 27px;
  border: 1px solid rgba($black-col, 0.1);
  border-radius: 3px;
  background-color: #f7f7f7;
  padding-left: 7px;
}
.nu-input-off {
  background-color: white;
}
.centered-container {
  margin: 0 auto;
  width: 960px;
}
.right-side
{
  float: right;
  width: 230px;
  padding-left: 9px;
}
//used to vertically center div, as absolute
.center-vert
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
