<style lang="scss" scoped>
  @import "../assets/style/constants";
  .title {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid rgba($black-col, 0.3);
    padding-bottom: 10px;
  }
  .content {
    margin: 15px 0 20px 0;
  }
  .sub-title {
    font-size: 12px;
    color: $black-col;
    margin-bottom: 3px;
  }
  .right-sided {
    float: right;
    width: 168px;
  }
  .left-sided {
    width: 358px;
    float: left;
  }
  [class$="-row"] {
    overflow: hidden;
    margin-bottom: 8px;
  }
  .value-in {
    width: 220px !important;
    float: left;
  }
  .dot {
    float: left;
    font-size: 18px;
    color: rgba($black-col, 0.5);
    margin: 0 8px 8px 8px;
  }
  .value-float-in {
    width: 40px;
    float: left;
  }
  .value-minus-in, .value-perc-in {
    float: right;
    width: 30px;
    input
    {
      cursor: pointer;
      text-align: center;
      padding: 0px;
      &:checked {
        background-color:red;
      }
    }
  }
  .value-minus-in {
    margin-right: 8px;
  }
  .description-in textarea{
    height: 44px;
  }
  .add_btn {
    background-color: $orange-col;
    width: 166px;
    color: white !important;
    &:hover {
      color: $orange-col !important;
    }
  }
  .md-dialog-actions {
    padding-right: 24px;
  }
</style>
<style lang="scss">
@import "../assets/style/constants";
.addEditEntry > .md-dialog {
  @extend   .col-15;
}
</style>
<template>
  <md-dialog class="addEditEntry" md-open-from="#add_entry" md-close-to="#add_entry" ref="add_entry">
    <md-dialog-title>
      <div class="title">
        New Entry
      </div>
    </md-dialog-title>
    <md-dialog-content>
      <span v-for="er in resErrors">
        <error v-for="item in er" :message="item"></error>
      </span>

      <div class="content">
        <div class="first-row">
          <div class="left-sided half-sized">
            <div class="sub-title mandatory-field">
              Entry Title
            </div>
            <input type="text" name="entry_title" placeholder="Title" v-model="entry.title" class="nu-input nu-input-off">
          </div>
          <div class="right-sided">
            <div class="sub-title mandatory-field">
              Date
            </div>
              <input type="text" v-model="entry.date" class="nu-input">
          </div>
        </div>
        <div class="second-row">
          <div class="half-sized left-sided">
            <div class="sub-title mandatory-field">
              Value
            </div>
            <div class="value-in">
              <input type="number" name="value" placeholder="Value" v-model="rel" class="nu-input">
            </div>
            <div class="dot">.</div>
            <div class="value-float-in">
              <input type="number" name="value" placeholder="00" v-model="dec" class="nu-input" min="0" max="99">
            </div>
            <div class="value-perc-in">
              <input type="text" name="value" placeholder="00" value="%" class="nu-input" min="0" max="99" >
            </div>
            <div class="value-minus-in">
              <input type="text" name="value" placeholder="00" value="-" class="nu-input" min="0" max="99" readonly="readonly">
            </div>
          </div>
          <div class="right-sided">
            <div class="sub-title mandatory-field">
              Unit
            </div>
            <input type="text" name="entry_title" placeholder="Unit" v-model="entry.unit" class="nu-input">
          </div>
        </div>
        <div class="third-row">
          <div class="sub-title">
            Description
          </div>
          <div class="description-in">
            <textarea name="description" placeholder="Description" class="nu-input nu-input-off" v-model="entry.description"></textarea>
          </div>
        </div>

        <div class="fourth-row">
          <div class="sub-title mandatory-field">
            Source
          </div>
          <input type="text" name="source" placeholder="Source" v-model="entry.source" class="nu-input nu-input-off">
        </div>
      </div>
      <div class="third-row">
        <div class="sub-title">
          Description
        </div>
        <div class="description-in">
          <md-checkbox v-model="close" class="md-primary">Close after save</md-checkbox>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-primary add_btn" @click.native="addEntry">Add</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>
<script>
  import error from './FormError'
  import { mapMutations } from 'vuex'

  var entry = {
    title: '',
    unit: '',
    description: '',
    source: '',
    date: '',
    value: ''
  }

  export default {

    data: function () {
      return {
        entry: Object.assign({}, entry),
        resErrors: {},
        rel: '00',
        dec: '00',
        close: true
      }
    },
    props: ['page'],
    mounted () {
      this.$root.$on('addEntry', () => {
        this.$refs['add_entry'].open()
      })
    },
    methods: {
      addEntry () {
        this.entry.value = this.rel + '.' + this.dec
        this.$http.post('page/' + this.page + '/entry', this.entry, {
          headers: {
            Authorization: 'bearer ' + localStorage.getItem('token')
          }
        }).then(function (response) {
          this.entry = Object.assign({}, entry)
          this.appendEntry(response.data)
          if (this.close) {
            this.$refs['add_entry'].close()
          }
        }, function (response) {
          this.resErrors = response.data
        })
      },
      ...mapMutations([
        'appendEntry'
      ])
    },
    components: {'error': error}
  }
</script>
