<style lang="scss" scoped>
  @import "../assets/style/constants";
  .footer
  {
    position: relative;
    right: 0;
    bottom: 20px;
    left: 0;
    overflow: hidden;
    ul
    {
      list-style: none;
      padding: 0px;
      color: rgba($black-col, 0.6);
      li
      {
        float: left;
        font-size: 11px;
        cursor: pointer;
      }
    }
    .separator
    {
      float: left;
      margin: 0 10px;
    }
  }
</style>
<template>
  <div class="footer centered-container">
    <ul>
      <li>@ 2017 Numorise</li>
      <span class="separator">|</span>
      <li>Privacy & Cookies</li>
      <span class="separator">|</span>
      <li>Legal</li>
      <span class="separator">|</span>
      <li>Advertise</li>
      <span class="separator">|</span>
      <li>Help</li>
      <span class="separator">|</span>
      <li>Feedback</li>
    </ul>
  </div>
</template>
