<style scoped lang="scss">
  @import "../assets/style/constants";
  .page
  {
    padding-top: 20px;
  }
  .create_page
  {
    float: left;
    padding: 18px 16px;
    border: 1px solid rgba($black-col, 0.3);
    border-radius: 3px;
  }
  .title
  {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba($black-col, 0.3);
  }
  .content
  {
    padding: 16px 0 26px 0;
    & > div
    {
      margin-bottom: 8px;
    }
  }
  .sub-title
  {
    font-size: 14px;
    color: $black-col;
    margin-bottom: 3px;
    overflow: hidden;
  }
  .photo-title
  {
    float: left;
    margin-right: 5px;
  }
  .photo-size
  {
    color: rgba($black-col, 0.5);
  }
  .half-sized
  {
    width: 328px;
  }
  .get_started
  {
    background-color: $orange-col;
    width: 166px;
    color: white !important;
    font-weight: bold;
    border: none;
    &:hover {
      color: $orange-col !important;
    }
  }
  .photo-sample
  {
    width: 126px;
    height: 126px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($black-col, 0.1);
    border-radius: 2px;
    cursor: pointer;
  }
  .page_terms
  {
    background-color: $orange-col;
    margin: 0px;
    width: 100%;
    text-transform: none;
    color: $black-col !important;
    font-weight: bold;
    margin-bottom: 24px;
    &:hover {
      color: $orange-col !important;
    }
  }
</style>
<template lang="html">
  <div class="page centered-container">
    <div class="create_page col-18">
      <div class="title">
        Create a Page
      </div>
      <div class="content">
        <div class="photo">
          <div class="sub-title">
            <div class="photo-title mandatory-field">
                Photo
            </div>
            <span class="photo-size">(Min 250x250 px)</span>
          </div>
          <a  @click="openSelec" target="_blank">
          <div class="photo-sample">
            <img src="../assets/imgs/avatar.png" alt="here" ref="upImage"/>
            <input type="file" hidden ref="upFile" @change="upload">
          </div>
          </a>
        </div>
        <div class="page_name half-sized">
          <div class="sub-title mandatory-field">
            Page Name
          </div>
          <error v-for="item in resErrors.title" :message="item" v-if="resErrors.title"></error>
          <input type="text" name="page_name" placeholder="Name" v-model="page.name" class="nu-input nu-input-off">
        </div>
        <div class="description">
          <div class="sub-title mandatory-field">
            Description
          </div>
          <error v-for="item in resErrors.description" :message="item" v-if="resErrors.description"></error>
          <input type="text" name="description" placeholder="Description"  v-model="page.description" class="nu-input nu-input-off" >
        </div>
        <div class="tags">
          <div class="sub-title mandatory-field">
            Tags
          </div>
          <error v-for="item in resErrors.tags" :message="item" v-if="resErrors.tags"></error>
          <input type="text" name="tags" placeholder="Tags" v-model="page.tags" class="nu-input nu-input-off">
        </div>
        <div class="website half-sized">
          <div class="sub-title mandatory-field">
            Website
          </div>
          <error v-for="item in resErrors.website" :message="item" v-if="resErrors.website"></error>
          <input type="text" name="website" placeholder="Website" v-model="page.website" class="nu-input" >
        </div>
      </div>
      <div class="actions">
        <md-button class="md-primary btn get_started" @click="addPage">Get Started</md-button>
      </div>
    </div>

    <div class="right-side">
      <md-button class="md-primary page_terms">Page Terms</md-button>
      <trending></trending>
    </div>
  </div>
</template>

<script>
import Trending from './Trending'
import error from './FormError'
export default {
  data: function () {
    return {
      page: {
        'name': '',
        'description': '',
        'website': '',
        'tags': ''
      },
      resErrors: {}
    }
  },
  methods: {
    'openSelec': function () {
      this.$refs['upFile'].click()
    },
    'upload': function () {
      if (this.$refs['upFile'].value) {
        var formData = new FormData()
        formData.append('file', this.$refs['upFile'].files[0])
        this.$http.post('attachment', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            'Authorization': 'bearer ' + localStorage.getItem('token')
          }
        }).then(function (response) {
          this.page.attachment_id = response.data.id
          this.$refs['upImage'].src = response.data.url
        }, function (response) {
          console.log(response)
        })
      }
    },
    'addPage': function () {
      this.page.title = this.page.name
      this.$http.post('page', this.page, {
        headers: {
          Authorization: 'bearer ' + localStorage.getItem('token')
        }
      }).then(function (response) {
        this.$router.push({name: 'page', params: { id: response.data.id }})
      }, function (response) {
        this.resErrors = response.data
        console.log(this.resErrors)
      })
    }
  },
  components: {'trending': Trending, 'error': error}
}
</script>
