<style lang="scss" scoped>
  @import "../assets/style/constants";
  .entry
  {
    height: 120px;
    position: relative;
    .entry-left, .entry-right
    {
      float: left;
      height: 100%;
    }
    .entry-left
    {
      width: 148px;
      border-right: 2px solid rgba($black-col, 0.5);
      display: flex;
      align-items: center;
      flex-direction: column;
      .entry-date
      {
        margin-top: 14px;
        font-size: 12px;
        color: rgba($black-col, 0.4);
      }
      .entry-value
      {
        margin-top: 26px;
        .num
        {
          font-size: 26px;
          font-weight: bold;
        }
        .unit
        {
          text-align: center;
          font-size: 14px;
          color: rgba($black-col, 0.7);
          margin-top: 6px;
        }
      }
    }
    .icon-center
    {
      width: 24px;
      height: 24px;
      background-color: white;
      position: absolute;
      left: 135px;
      top: 13px;
      border-radius: 50%;
      border: 2px solid rgba($black-col, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      img
      {
        width: 14px;
        height: 14px;
      }
    }
    .entry-right
    {
      position: relative;
      padding: 14px 14px 10px 24px;
      .title
      {
        font-size: 14px;
        font-weight: bold;
      }
      .num-by
      {
        font-size: 12px;
        color: rgba($black-col, 0.6);
        margin-top: 4px;
        span:nth-child(1)
        {
          font-size: 14px;
          background-color: $orange-col;
          color: $black-col;
        }
        span:nth-child(2)
        {
          cursor: pointer;
          color: $orange-col;
        }
      }
      .description
      {
        margin-top: 4px;
        width: 510px;
        font-size: 14px;
        line-height: 15px;
      }
      .lower-description
      {
        position: absolute;
        bottom: 2px;
        font-size: 12px;
        display: flex;
        align-items: center;
        a
        {
          margin-left: 5px;
        }
      }
      .actions
      {
        position: absolute;
        top: 15px;
        right: 0px;
        i
        {
          width: 15px;
          height: 15px;
          opacity: 0.2;
          cursor: pointer;
        }
      }
    }
  }
  .entry-bordered
  {
    border-bottom: nu-border(1px);
  }
</style>
<template>

    <div class="entry entry-bordered">
      <div class="entry-left">
        <div class="entry-date">
          {{entry.values[0].created_at}}
        </div>
        <div class="entry-value">
            <div class="num">{{entry.values[0].value}}</div>
            <div class="unit">{{entry.values[0].unit}}</div>
        </div>
      </div>
      <div class="icon-center" >
        <img src="../assets/imgs/verified.png" alt="" />
      </div>
      <div class="entry-right">
        <div class="title">
            {{entry.title}}
        </div>
        <div class="num-by">
          <span>{{entry.values[0].value}}</span>
          by
          <span>{{entry.values[0].createdBy.name}}</span>
        </div>
        <div class="description">
          {{entry.values[0].description}}
        </div>
        <div class="lower-description">
          <!--<img src="../assets/imgs/tech-crunch.png" alt="" />-->
          <a v-bind:href="entry.values[0].source">
            {{entry.values[0].source}}
          </a>
        </div>
        <div class="actions">
          <md-icon >notifications</md-icon>
          <md-icon>keyboard_arrow_down</md-icon>
        </div>
      </div>
    </div>
</template>

<script>
    import {shortNum} from '../helpers/ShortNumber'
    export default {
      methods: {
        shortNum: shortNum
      },
      props: ['entry']
    }
</script>
