<style lang="scss" scoped>
  @import "../assets/style/constants";
  .whole-entry
  {
    padding-top: 20px;
  }
  .entry-side
  {
    float: left;
    border: nu-border(1px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .header
  {
    padding: 0 12px;
    height: 50px;
    position: relative;
    border-bottom: nu-border(1px);
  }
  .logo
  {
    @extend .center-vert;
    float: left;
    margin-right: 8px;
    img
    {
      width: 30px;
      height: 30px;
    }
  }
  .name
  {
    @extend .center-vert;
    left:50px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    img
    {
      width: 13px;
      margin-left: 3px;
    }
  }
  .follow
  {
    @extend .center-vert;
    right: 12px;
  }
  .middle
  {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 12px;
    border-bottom: nu-border(1px);
    .desc
    {
      font-size: 14px;
      font-weight: medium;
    }
    .actions
    {
      i
      {
        opacity: 0.2;
      }
    }
  }
  .show-more
  {
    background-color: rgba($black-col, 0.05);
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: rgba($black-col, 0.5);
  }
</style>
<style lang="scss">
  .entry-side .details .actions
  {
    display: none;
  }
</style>
<template>
  <div class="centered-container whole-entry">
    <div class="entry-side col-18">
      <div class="header">
        <div class="logo">
          <img src="../assets/imgs/facebook.png" alt="" />
        </div>
        <div class="name">
          Facebook
          <img src="../assets/imgs/verified.png" alt="" />
        </div>
        <div class="follow">
          <md-button class="remove-shadow btn add-entry" id="add_entry" @click.native="$root.$emit('addEntry')">Add Entry</md-button>
        </div>
      </div>
      <div class="middle">
        <div class="desc">
          Facebook daily active users
        </div>
        <div class="actions">
          <md-icon >notifications</md-icon>
          <md-icon>keyboard_arrow_down</md-icon>
        </div>
      </div>
      <div class="details">
        <entry v-for="item in (1,2,3)"></entry>
      </div>
      <div class="show-more">
        Show more
      </div>
    </div>
    <div class="right-side">
      <trending></trending>
    </div>

  </div>
</template>
<script>
  import Trending from './Trending'
  import Entry from './Entry'
  export default {
    components: {'trending': Trending, 'entry': Entry}
  }
</script>
