<style lang="scss" scoped>
  @import "../assets/style/constants";
  .main-box
  {
    border: nu-border(1px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .top-part
  {
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: nu-border(1px);
    .title
    {
      padding-left: 14px;
      font-size: 13px;
    }
    .desc
    {
      padding-left: 110px;
      color: rgba($black-col, 0.5);
      font-size: 13px;
    }
  }
</style>
<template>
  <div class="main-box">
    <div class="top-part">
      <span class="title">Entries</span>
      <span class="desc">All Editors</span>
    </div>
    <entry v-for="entry in entries" :entry="entry"></entry>
  </div>
</template>
<script>
  import Entry from './Entry'
  export default {
    components: {'entry': Entry},
    props: ['entries']
  }
</script>
