<style>
    .formError{
        font-size: 10px;
        color: red;
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>
<template>
    <p class="formError">{{message}}</p>
</template>

<script>
    export default {
      props: ['message']
    }
</script>