<style lang="scss">
  @import "../assets/style/constants";
  .home
  {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .main-search
  {
    margin: 35px 0 25px 0;
    input
    {
        height: 34px !important;
    }
  }
  .slagon
  {
    color: rgba($black-col, 0.65);
    font-size: 16px;
  }
</style>
<template>
  <div class="home">
    <div class="numorise-logo">
      <img src="../assets/imgs/numorise-full.png" alt="Numorise" />
    </div>
    <div class="main-search col-14">
      <search></search>
    </div>
    <div class="slagon">
      Immediate access to over one million statistics and figures
    </div>
    <!-- TODO: remove this button -->
    <!-- <button @click="search()"> search</button> -->
  </div>
</template>

<script>
import Search from './Search'

export default{
  components: {'search': Search}
}
</script>
