
<style lang="scss" scoped>
  @import "../assets/style/constants";
  .cover
  {
    border-bottom: nu-border(1px);
    margin-top: 1px;
    position: absolute;
    background-color: #f1f1f1;
    height: 118px;
    content: "";
    left: 0;
    right: 0;
    z-index: 2
  }
  .top-part
  {
    position: relative;
  }
  .details
  {
    position: relative;
    margin-top: 20px;
    z-index: 3;
  }
  .prof-pic
  {
    height: 150px;
    border-radius: 3px;
    box-shadow:
      0 0 0 3px white,
      0 0 0 4px rgba($black-col, 0.2);
    cursor: pointer;
    float: left;
    margin-right: 15px;
  }
  .sub-details
  {
    padding-top: 12px;
    overflow: hidden;
    .name
    {
      font-size: 24px;
      color: $black-col;
      font-weight: bold;
      img
      {
        cursor: pointer;
      }
    }
    .description
    {
      font-weight: lighter;
      font-size: 15px;
      color: rgba($black-col, 0.8);
      margin-top: 10px;
      max-width: 780px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      height: 32px;
      line-height: 17px;
    }
    .links
    {
      a
      {
        margin-right: 6px;
      }
      img
      {
        margin-right: 5px;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
  .tabs
  {
    margin-top: 4px;
    width: 790px;
    overflow: auto;
    border-bottom: 1px solid rgba($black-col, 0.3);
    .tab
    {
      border: none;
      outline: none;
      cursor: pointer;
      padding: 8px 16px;
      float: left;
      background-color: transparent;
      font-weight: bold;
      color: rgba($black-col,0.6);
      font-size: 14px;
    }
    .right-tab
    {
      position: relative;
      display: inline;
      float: right;
      margin-top: 12px;
      z-index: 5;
    }
  }
  .active
  {
    color: $black-col !important;
    border-bottom: 3px solid $orange-col !important;
  }
  .tab-contents
  {
    float: left;
  }
  .add-entry
  {
    width: 100px;
    margin-right: 10px;
  }
  .create_page
  {
    background-color: $orange-col;
    margin: 0px;
    width: 100%;
    text-transform: none;
    color: $black-col !important;
    font-weight: bold;
    margin-bottom: 24px;
    &:hover {
      color: $orange-col !important;
    }
  }
  .body-page
  {
    padding-top: 20px;
  }
</style>
<template lang="html">
  <div class="page centered-container">
    <div class="cover"></div>
    <div class="details">
      <div class="top-part">

          <img class="col-4 prof-pic" v-bind:src="page.photo" alt="" />
          <div class="sub-details">
            <div class="name">{{page.title}} <img src="../assets/imgs/verified.png" alt="verified" v-if="page.verified"/></div>
            <div class="description">
              {{page.description}}
            </div>
            <div class="links">
              <a href="www.facebook.com" class="main">{{ page.website }}</a>
              <img v-for="x in 5" v-bind:src="page.website" alt="" />
            </div>
          </div>
          <div class="tabs">
            <button class="tab" v-for="(tab, index) in tabs"
                                :class="{active : currentTab === index }"
                                @click="currentTab = index">
              <div class="val">{{shortNum(tabsValues[index])}}</div>
              {{tab}}
            </button>
            <div class="right-tab">
              <md-button v-if="authenteacted" class="remove-shadow btn add-entry" id="add_entry" @click.native="$root.$emit('addEntry')">Add Entry</md-button>
              <md-button class="remove-shadow btn">+ &nbsp Follow</md-button>
            </div>
          </div>
<!--HEAD-->
          <!--<div class="tab-contents">-->
            <!--<div v-show="currentTab === 0">-->
              <!--<entries :entries="page.entries"for v-if="page.entries.length"></entries>-->
<!--=======-->
          <div class="body-page">
            <div class="tab-contents col-18">
              <div v-show="currentTab === 0">
                  <entries :entries="page.entries"for v-if="page.entries.length"></entries>
              </div>
            </div>
            <div class="right-side">
              <md-button v-if="authenteacted" class="md-primary create_page" @click="opeCreate">Create New Page</md-button>
              <trending></trending>
<!--&gt;>>>>>> origin/tamer-->
            </div>
          </div>
          <addentry :page="page.id"></addentry>
      </div>
    </div>
  </div>
</template>
<script>
  import Entries from './Entries'
  import Trending from './Trending'
  import {shortNum} from '../helpers/ShortNumber'
  import AddEntry from './AddEditEntry'
  import { mapMutations, mapGetters } from 'vuex'
  import auth from '../auth'

  export default {
    mounted: function () {
      this.$http.get('page/' + this.$route.params.id).then(response => {
        this.setPage(response.data)
        console.log(this.getPage)
        this.tabsValues[0] = response.data.entries.length
      })
    },
    name: 'tabs',
    methods: {
      'opeCreate': function () {
        this.$router.push('/create/page')
      },
      'shortNum': shortNum,
      addEntry () {
        this.$router.push('/')
      },
      ...mapMutations([
        'setPage'
      ])
    },
    data () {
      return {
        currentTab: 0,
        tabsValues: [0, 0, 0, 0],
        tabs: ['Entries', 'Followers', 'Portfolio', 'Requests'],
        authenteacted: auth.authenticated
      }
    },
    computed: {
      ...mapGetters([
        'page'
      ])
    },
    components: {'entries': Entries, 'addentry': AddEntry, 'trending': Trending}
  }
</script>
