<style>
    .num-input{
        width: 100%;
        line-height: 34px;
        font-size: 16px;
        font-family: Roboto;
        margin-bottom: 10px;
        text-indent: 10px;
    }
    .login-button{
        background-color: #FEC311 !important;
        width: 100%;
        margin-top: 30px !important;
        margin-left: 0px !important;
    }
    .forgot-pass{
        text-indent: 60px;
        margin-top: 7px !important;
    }
    .sign-up-link{
        text-indent: 20px;
        margin-top: 15px !important;
    }

    .clickable{
        cursor: pointer;
    }
    .registerPage > .md-dialog{
        width:288px;
        display: flex;
        flex-direction: column;
        min-height: 40vh;
    }

    .inputError{
        border-color: #a94442;
    }
    .md-theme-default.md-checkbox.md-primary.md-checked .md-checkbox-container{
        background-color: #FBC411 !important;
        border-color: #FBC411 !important;
    }

</style>
<template>
    <md-dialog class="registerPage" ref="reg"  md-open-from="#sgin-in" md-close-to="#sgin-in" @close="onClose">
        <md-dialog-title>Welcome Back!</md-dialog-title>
        <md-dialog-content>
            <div>
                <div class="sign-in-div" v-if="!register">
                    <error v-for="item in resErrors.email" :message="item" v-if="resErrors.email"></error>
                    <input type="text"
                           placeholder="Email or Username"
                           class="num-input" :class="{'inputError': resErrors.email}"
                           v-model="formData.email">
                    <error v-for="item in resErrors.password" :message="item" v-if="resErrors.password"></error>
                    <input type="password" placeholder="Password" class="num-input"
                           :class="{inputError: resErrors.password}"
                           v-model="formData.password">
                    <md-checkbox id="my-test2" name="my-test2"  class="md-primary">Remember Me</md-checkbox>
                    <md-button  class="md-raised login-button" @click="logIn">Sign In</md-button>
                    <p class="forgot-pass">Forgot Password</p>
                    <p class="sign-up-link">don't have an account? <b @click="register = true" class="clickable">Sign Up</b></p>
                </div>
                <div class="register-div" v-if="register">
                    <error v-for="item in regErrors.email" :message="item" v-if="regErrors.email"></error>
                    <input type="text" placeholder="Email" class="num-input"
                           :class="{'inputError': regErrors.email}"
                           v-model="registerForm.email" >
                    <error v-for="item in regErrors.name" :message="item" v-if="regErrors.name"></error>
                    <input type="text" placeholder="Username" class="num-input"
                           :class="{'inputError': regErrors.name}"
                           v-model="registerForm.name">
                    <error v-for="item in regErrors.password" :message="item" v-if="regErrors.password"></error>
                    <input type="password" placeholder="Password" class="num-input"
                           :class="{'inputError': regErrors.password}"
                           v-model="registerForm.password">
                    <input type="password" placeholder="confirm password" class="num-input" v-model="registerForm.password_confirmation">
                    <md-button  class="md-raised login-button" @click="signUp">Sign Up</md-button>
                    <p class="sign-up-link">already have an account? <b @click="register = false" class="clickable">Sign In</b></p>

                </div>
            </div>
        </md-dialog-content>
    </md-dialog>
</template>

<script>
    import auth from '../auth'
    import error from './FormError'

    export default {
      components: {'error': error},
      mounted () {
        this.$root.$on('logInClick', () => {
          this.$refs['reg'].open()
        })
      },
      data: function () {
        return {
          formData: this.initFormData(),
          register: false,
          registerForm: this.initRegisterForm(),
          resErrors: {},
          regErrors: {}
        }
      },

      methods: {
        logIn: function () {
          auth.login(this, this.formData).then(response => {
            this.$refs['reg'].close()
          }, response => {
            this.resErrors = response.data
          })
        },
        signUp: function () {
          auth.register(this, this.registerForm).then(response => {
            this.$refs['reg'].close()
            this.$router.push('/home')
          }, response => {
            this.regErrors = response.data
          })
        },
        onClose () {
          this.formData = this.initFormData()
          this.registerForm = this.initRegisterForm()
          this.register = false
          this.resErrors = {}
          this.regErrors = {}
        },
        initFormData () {
          return {
            email: '',
            password: ''
          }
        },
        initRegisterForm () {
          return {
            email: '',
            name: '',
            password: '',
            password_confirmation: ''
          }
        }
      }
    }
</script>
