<style>

.result{
  width: 63.5vw;
  margin-left: 15vw;
  margin-right: auto;
  margin-top: 20px;
}
.resp-div{
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.tab-contents
{
  float: left;
}
.body-page
{
  padding-top: 20px;
}
.trend-res{
  padding-top: 90px;
}
</style>
<template>
    <div class="page centered-container">
      <div class="body-page">
        <div class="tab-contents col-18">
          <md-tabs md-left class = "md-transparent">
            <md-tab id="everything" md-label="Everything" class="resp-div">
              <div v-for="(result, index) in results" >
                <search-list :item="result"></search-list>
                <br>
              </div>
            </md-tab>
            <md-tab id="pages" md-label="Pages">
              pages
            </md-tab>
            <md-tab id="entries" md-label="Entries">
              entries
            </md-tab>
            <md-tab id="people" md-label="People">
              people
            </md-tab>

          </md-tabs>
        </div>
        <div class="right-side trend-res">
          <trending></trending>
          <!--&gt;>>>>>> origin/tamer-->
        </div>
      </div>
    </div>
</template>

<script>
import SearchList from './Searchlist'
import algoliasearch from 'algoliasearch'
import Trending from './Trending'

export default{
  components: {'search-list': SearchList, 'trending': Trending},
  data: function () {
    return {
      results: []
    }
  },
  mounted: function () {
    this.search()
  },
  watch: {
    '$route': function (to, from) {
      this.search()
    }
  },
  methods: {
    search: function () {
//      todo move configration to config file
      var client = algoliasearch(this.$conf.algolia.id, this.$conf.algolia.secret)
      var index = client.initIndex('pages')
      index.search(this.$route.params.keyValue).then(response => {
        this.results = response.hits
      })
    }
  }
}
</script>
