<style lang="scss" scoped>
@import "../assets/style/constants";
.search-result {
  width: 100%;
  position: relative;
  color: rgba($black-col, 0.3);
  input {
    width: 100% !important;
    font-size: 14px;
    height: 27px;
    padding-left: 9px;
    border: 1px solid rgba($black-col, 0.1);
    border-radius: 3px;
  }
  .search-icon {
    position: absolute !important;
    right: 8px;
    top: 50%;
    margin-top: -8px;
    opacity: 0.3;
    fill: red;
    cursor: pointer;
  }
}
</style>

<template>
  <div class='search-result'>
    <input type="text" @keyup.enter="search()" v-model="keyValue" placeholder="Search"></input>
    <div @click="search()">
      <!-- <img class="search-icon" src="../assets/svg/search.svg" alt="search" width="16" height="16"/> -->
      <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 250.313 250.313" style="enable-background:new 0 0 250.313 250.313;" xml:space="preserve" width="16px" height="16px">
        <g id="Search">
        	<path style="fill-rule:evenodd;clip-rule:evenodd;" d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76   c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911   c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38   c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146   c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236   C170.146,140.044,140.043,170.146,102.911,170.146z" fill="#0b0b0b"/>
        </g>
      </svg>

    </div>
  </div>
</template>

<script>
  export default{
    data: function () {
      return {
        keyValue: this.$route.params.keyValue
      }
    },
    methods: {
      search: function () {
        this.$router.push({
          name: 'result',
          params: { keyValue: this.keyValue }
        })
      }
    }
  }
</script>
