<style lang="scss" scoped>
    @import "../assets/style/constants";

    .search-list {
        border-color: #cfd8dc;
        border-style: solid;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        min-height: 5vh;
    }

    .result-title {
        height: 50px;
        /*padding: 5px;*/
    }

    .item-name {
        padding-top: 10px;
        font-size: 20px;
        vertical-align: middle;
    }

    .follow {
        float: right;
        background: #f5f5f5 !important;
        border: #e0e0e0 1px solid !important;
    }

    .follow > i {
        font-size: 20px;
    }

    .result-title {

        border-bottom: nu-border(1px);
    }

    .result-image {
        height: 40px;
        border-radius: 3px;
        /*box-shadow: 0 0 0 3px white,
        0 0 0 4px rgba($ black-col, 0.2);*/
        cursor: pointer;
        float: left;
        margin-right: 5px;
    }
    .result-image-div {

        cursor: pointer;
        padding-top: 5px;
        padding-left: 5px;
        /*padding-left: 5px;*/
        width: 400px;
        float: left;
    }

</style>
<template>
  <div class="search-list">
      <div class="result-title">
          <div class="result-image-div" @click="$router.push({name: 'page', params: { id: item.id }})">
              <img class="result-image" v-bind:src="item.photo" alt="Avatar" />
              <div class="item-name">{{item.title}}</div>
          </div>
          <md-button class="follow"><md-icon>add</md-icon>Follow</md-button>
      </div>
      <entry  :entry="item.entries[0]"></entry>
      <entry  :entry="item.entries[1]"></entry>
  </div>
</template>

<script>
  import Entry from './Entry'
  export default{
    components: {'entry': Entry},
    props: ['item']
  }
</script>
