<style lang="scss" scoped>
  @import "../assets/style/constants";
  .toolbar {
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  .logo img {
    height: 27px;
  }
  .search-sec {
    height: 26px;
    float: left;
  }
  .tool-item {
    cursor: pointer;
    text-align: center;
  }
  .buttons * {
    width: 100% !important;
    min-width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 3px !important;
    text-transform: none !important;
  }
  .sign-in, .sign-out{
    background-color: $orange-col !important;
    min-height: 26px !important;
    height: 27px;
    line-height: 0px !important;
  }
</style>
<template>
    <div class='md-dense toolbar centered-container'>
        <div class="logo col-1">
          <img src="../assets/imgs/numorise.png" alt="logo"/>
        </div>
        <div class='search-sec col-17'>
            <search v-if='$route.path != "/"'></search>
        </div>
        <div class='tool-item col-2'>
          News
        </div>
        <div class='tool-item col-2'>
          Trending
        </div>
        <div class="buttons col-2">
          <md-button  class="sign-in" id="sgin-in" @click.native="$root.$emit('logInClick')" v-if="!auth.authenticated" >Sign In</md-button>
          <md-button  class="sign-in sign-out" id="sgin-out"  @click="logOut" v-if="auth.authenticated">Sign Out</md-button>
        </div>
    </div>
</template>

<script>
    import auth from '../auth'
    import Search from './Search'

    export default{
      components: {'search': Search},
      data: function () {
        return {
          auth: auth
        }
      },
      methods: {
        logOut () {
          auth.logOut()
          this.$router.push('/')
        }
      }
    }
</script>
