<style scoped lang="scss">
@import "../assets/style/constants";
    .trend-title
    {
      color: rgba($black-col, 0.6);
      font-size: 14px;
      padding-bottom: 3px;
      border-bottom: nu-border(1px);
      margin-bottom: 12px;
    }
    .trend
    {
      overflow: hidden;
    }
    .img
    {
      width: 22px;
      display: inline;
      position: absolute;
    }
    .description
    {
      padding-left: 22px;
    }
</style>
<template>
  <div class="trending">
    <div class="trend-title">Trending</div>
    <div class="trend" v-for="trend in trends">
      <div class="img">
        <img src="../assets/svg/trending.svg" width="16" height="16" />
      </div>
      <div class="description">{{trend}} ..</div>
    </div>
  </div>
</template>

<script>
    export default {
      data: function () {
        return {
          'trends': [
            'Youtube monthly active users because hello from the other side',
            'Facebook fake profile',
            'Amazon brand value'
          ]
        }
      }
    }
</script>
