<style lang="scss" scoped>
@import "../assets/style/constants";
  .user-home
  {
    padding-top: 20px;
  }
  .feed
  {
    float: left;
  }
  .right-side
  {
    padding-top:26px;
  }
  .single-feed
  {
    border: nu-border(1px);
    margin-bottom: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .feed-header
  {
    cursor: pointer;
    height: 48px;
    padding: 0 12px;
    border-bottom: nu-border(1px);
    display: flex;
    align-items: center;
    .logo
    {
      margin-right: 8px;
      img
      {
        width: 30px;
        height: 30px;
      }
    }
  }
  .title
  {
    line-height: 16px;
    padding-top: 5px;
    .name
    {
      font-size: 18px;
      font-weight: bold;
      display: flex;
      align-items: center;
      img
      {
        width: 13px;
        margin-left: 3px;
      }
    }
    .desc
    {
      font-size: 12px;
      color: rgba($black-col, 0.6);
    }
  }
</style>
<template>
  <div class="user-home centered-container">
    <div class="feed col-18">
      <div class="single-feed" v-for="item in (1,2)">
        <div class="feed-header">
          <div class="logo">
            <img src="../assets/imgs/facebook.png" alt="" />
          </div>
          <div class="title">
            <div class="name">
              Facebook
              <img src="../assets/imgs/verified.png" alt="" />
            </div>
            <div class="desc">
              Facebook posted new update.
            </div>
          </div>
        </div>
        <div class="feed-body">
          <!--<entry></entry>-->
        </div>
      </div>
    </div>
    <div class="right-side">
      <trending></trending>
    </div>
  </div>
</template>

<script>
    import auth from '../auth'
    import Trending from './Trending'
    import Entry from './Entry'

    export default {
      components: {'trending': Trending, 'entry': Entry},
      beforeRouteEnter (to, from, next) {
        if (auth.authenticated) {
          next()
        } else {
          next('/')
        }
      }
    }
</script>
