<style lang="scss">
  @import "assets/style/constants";
  #app {
    min-height: 100%;
    position: relative;
    min-width: 960px;
  }
  .top {
    height: 44px;
  }
  .bx-shadow {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.6);
  }
  .middle-con {
    margin: 0 auto;
    // height: 90%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    position: relative;
  }
</style>

<template>
  <div id="app">
      <div class="top bx-shadow">
          <toolbar></toolbar>
          <register></register>
      </div>

      <div class="middle-con">
          <router-view></router-view>
      </div>
      <bottom></bottom>

      <!-- <div class="bottom">
      </div> -->
  </div>
</template>
<script>
  import Register from './components/Register'
  import Toolbar from './components/Toolbar'
  import Bottom from './components/Bottom'
  import auth from './auth'
  export default {
    data: function () {
      return {
        auth: auth
      }
    },
    components: {'register': Register, 'bottom': Bottom, 'toolbar': Toolbar},
    methods: {
      openDialog (ref) {
        this.$refs[ref].open()
      }
    }
  }
</script>
